github "kdisimone/LoopKit" "override-mode" 
github "kdisimone/CGMBLEKit" "override-mode"
github "i-schuetz/SwiftCharts" == 0.6.2
github "kdisimone/dexcom-share-client-swift" "override-mode"
github "kdisimone/G4ShareSpy" "override-mode"
github "kdisimone/rileylink_ios" "override-mode"
github "LoopKit/Amplitude-iOS" "decreepify"
