github "ljcaswell/LoopKit" "holly"
github "ljcaswell/CGMBLEKit" "holly"
github "i-schuetz/SwiftCharts" == 0.6.2
github "ljcaswell/dexcom-share-client-swift" "holly"
github "ljcaswell/G4ShareSpy" "holly"
github "ljcaswell/715_rileylink_ios" "master"
github "LoopKit/Amplitude-iOS" "decreepify"
